<div class="container mt-auto">
    <footer class="py-3 my-4 ">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#top" class="nav-link px-2 text-body-secondary">top</a></li>
            <li class="nav-item"><a href="{{ url_for('main.filechecker') }}" class="nav-link px-2 text-body-secondary">File Checker</a></li>
            <li class="nav-item"><a href="{{ url_for('main.ipchecker') }}" class="nav-link px-2 text-body-secondary">IP Checker</a></li>
            <li class="nav-item"><a href="{{ url_for('main.urlchecker') }}" class="nav-link px-2 text-body-secondary">URL Checker</a></li>
            <li class="nav-item"><a href="{{ url_for('main.pechecker') }}" class="nav-link px-2 text-body-secondary">PE Checker</a></li>
            <li class="nav-item"><a href="{{ url_for('main.yarachecker') }}" class="nav-link px-2 text-body-secondary">YARA Rules</a></li>
            <li class="nav-item"><a href="{{ url_for('main.getstrings') }}" class="nav-link px-2 text-body-secondary">Get Strings</a></li>
            <li class="nav-item"><a href="http://localhost:8000/" class="nav-link px-2 text-body-secondary">Dynamic Analysis</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Malmare, Inc</p>
    </footer>
</div>